apiVersion: v2
name: tobs
description: A Helm chart for tobs, The Observability Stack for Kubernetes
home: https://github.com/timescale/tobs
sources:
  - https://github.com/timescale/tobs

maintainers:
  - name: timescale
    url: https://www.timescale.com/

keywords:
  - observability
  - monitoring
  - tracing
  - opentelemetry

version: 15.0.0

# TODO(paulfantom): Enable after kubernetes 1.22 reaches EOL (2022-10-28)
# kubeVersion: ">= 1.23.0"
dependencies:
  - name: timescaledb-single
    condition: timescaledb-single.enabled
    version: 0.16.1
    repository: https://charts.timescale.com
  - name: promscale
    condition: promscale.enabled
    version: 14.1.2
    repository: https://charts.timescale.com
  - name: kube-prometheus-stack
    condition: kube-prometheus-stack.enabled
    # With each major bump make sure prometheus-operator CRD version matches version specified in cli/pkg/upgrade/upgrade.go#KubePrometheusCRDVersion
    version: 39.13.3
    repository: https://prometheus-community.github.io/helm-charts
  - name: opentelemetry-operator
    condition: opentelemetry-operator.enabled
    version: 0.12.0
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
  - name: avalanche
    condition: avalanche.enabled
    version: 0.1.0
    repository: https://charts.timescale.com
